body{
  background:black;
  color:white;
}
h1{
  font-family : "Libre Baskerville";
}
div{
  margin-top:50px;
  height:100%;
  width : 50%;
  margin-left:25%;
  text-align:center;
}
img{
  border:3px white solid;
  width:100%;
  height:auto;
}
